<% title "Change Plan" %>
<div class="left_page">
  <div class="lt_nav_container">
  <strong>Team Member:</strong>
    <br/>
       Archive team members before reducing the number of allowed users. Contact support for subscription pricing over 50 users.
       <br/>
       <br/>

    <strong>Premium Professional:</strong>
    <br/>
     Premium professional subscription provides additional information and displays a logo and weblinks.
     <br/>
      <br/>
     	<strong>Storage:</strong>
    <br/>
    Your Basic subscription comes with 5 GB of storage for documents and attachments. There are no fees for storing specification language.  Subscribers may purchase additional storage.
    
  </div>
  <div class="lt_button_container">
	<%= render :partial => 'members/admin_menu' %>

  </div>
</div>
<div class="right_page">	
	<%= render :partial => 'form' %>
</div>
