<p>Thank you for creating an account with My SpecWriter.</p><br/>
<p>You are receiving this email to complete the new account setup process. To confirm the account please select the link below.</p>
<br/>
<p>
<%= @account_activation_url %>
</p>
<br/>


<p>
Copy and paste the URL above if the link does not automatically activate your web browser.
</p>
<p>
Should you continue to experience activation problems, send an email to support@myspecdata.com
</p>
<p>
Thank you,<br/>
the Spec Writer Team
</p>
<p>
PS - Follow us on Twitter and Facebook!
</p>