<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<h3>My SpecWriter Collaborator </h3>
<br/>
<p><%=@collaborator.user.company%> has invited you to join on a Job using My SpecWriter.</p>
<br/>
To join this job, go to:<br/>
<%= @login_url %><br/><br/>
<p>My SpecWriter is an easy to use online design collaboration tool and a great way to save time, save money and stay organized.</p>
<br/>
<p>
Thank you,<br/>
the Spec Writer Team
</p>
PS - Follow us on Twitter and Facebook!
</body>
</html>

