<p>Your help ticket (#<%=@ticket.id%>) has been submitted. We will handle your problem immediately.</p>

<p>Thank you for your support to help us improving our services,</p>
<p>the Spec Writer Team</p>

<p>PS - Follow us on Twitter and Facebook!</p>