<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
New support ticket created:

<table>
	<tr>
		<td>Username</td><td><%=@ticket.user.username%></td>
	</tr>
	<tr>
		<td>Email</td><td><%=@ticket.user.email%></td>
	</tr>
	<tr>
		<td>Title</td><td><%=@ticket.title%></td>
	</tr>
	<tr>
		<td>Description</td><td><%=@ticket.description%></td>
	</tr>
</table>


Please respond to this ticket to help our customer.

Thanks.
</body>
</html>

