<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<h3>New User Registration</h3>
	<table>
		<tr>
			<td>Username</td><td><%=@user.username%></td>
		</tr>
		<tr>
			<td>Email</td><td><%=@user.email%></td>
		</tr>
	</table>
	</body>
</html>

