<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<h3>New section request created</h3>

<table>
	<tr>
		<td>Email</td><td><%=@request.user.email%></td>
	</tr>
	<tr>
		<td>Section Name</td><td><%=@request.name%></td>
	</tr>
	<tr>
		<td>Section Number</td><td><%=@request.number%></td>
	</tr>
	<tr>
		<td>Description</td><td><%=@request.description%></td>
	</tr>
</table>


Please respond to this request to help our customer.

Thanks.
</body>
</html>

