<% title "Edit Job Standard Section" %>
<div class="left_page">
  <div class="lt_nav_container">
    <%= render :partial => 'members/subscription_info' %>
  </div>
  <div class="lt_button_container">
	<%= render :partial => 'members/admin_menu' %>
  </div>
</div>
<div class="right_page">
	<%= render :partial => 'form' %>
</div>