
<%# form_for @specification, :html =>{:class => "form"} do |f| %>
  <%#= f.error_messages %>
  <%#= f.hidden_field :job_id %>
  <!-- <div class="tb_content_head">
      <div class="select_container">
        <%#= f.select(:division_id, @division.collect {|p| ["#{p.division_number} - #{p.name}",p.id]})%>
      </div>
      <div class="add_icon">
        <%#= f.submit "", :class=>"submitImage"  %>
      </div>

    </div> -->
<%#end%>


