<% title 'Access Denied' %>
<div class="left_page">
  <div class="lt_nav_container"></div>
  <div class="lt_button_container">
  </div>
</div>
<div class="right_page">
	<div id="msg-app">
		<div class="flashnotice">
			We are sorry, but this action not allowed.
		</div>
	</div>
</div>