<% title 'Home'%>
<div class="header" id="wrapper">
	<div id="centered">
		<div id="innerwrapper">
			<div id="head">
				<div id="logo">
					<span id="logo-1">my spec</span><span id="logo-2">Writer</span>
				</div>
			</div>
      <div id="notebook-header">
        <img src="/images/g-notebook-header.png">
      </div>
      <div id="content" class="pushright">

        <div class="header-fill">
          <div id="big-download-icon"></div>
          <div class="download-box">
            <div class="download-button"><%= link_to "Sign Up", signup_path %></div>
            <div class="donate-button"><%= link_to "Login", login_path %></div>
          </div>          
        </div>

      </div>
    </div>
  </div>
</div>
<div class="home-content" id="wrapper">
  	<div id="centered">
  		<div id="innerwrapper">
        <div id="content" class="pushright">
          
          <br>
  			  
  				<div id="runner">

  					<div class="site-link-wrapper">
            	<div class="site-links">
            		
            	</div>
            	<div class="site-links">
            		
            	</div>
            	<div class="site-links">
            		
            	</div>
            	<div class="site-links">
            		
            	</div>
            </div>
            <br clear="all">
            <br>
            <br>

            <div class="author">
            	© 2010 Office Data Solutions
            </div>

            <br clear="all">
                    
  				</div>
				
  			</div>
  		</div>
  	</div>
  </div>