<% title "Page Format" %>
<div class="left_page">
  <div class="lt_nav_container">
  	<%= render :partial => "/clients/client_info" %>
  </div>
  <div class="lt_button_container">
   	 
	<div><%= link_to "Cancel", job_path(@job_page_format.job), :class => 'button-left' %></div>
  </div>
</div>
<div class="right_page">
<%= render :partial => 'form' %>
</div>